<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Sora-Bold.ttf</string>
		<string>Sora-ExtraBold.ttf</string>
		<string>Sora-ExtraLight.ttf</string>
		<string>Sora-Light.ttf</string>
		<string>Sora-Medium.ttf</string>
		<string>Sora-Regular.ttf</string>
		<string>Sora-SemiBold.ttf</string>
		<string>Sora-Thin.ttf</string>
		<string>Bolota.ttf</string>
	</array>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>O Zelu usa Bluetooth para detectar amigos por perto e trocar perfis.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>O Zelu precisa acessar suas fotos para você escolher uma foto de perfil.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>O Zelu usa a rede local para detectar amigos por perto.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_conexoes-near._tcp</string>
		<string>_conexoes-near._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
